body {
    margin: 0;
}

header {
    background-image: url(/Users/dori_/Desktop/proyectos/01-agus/src/img/img1.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    position: static;
    height: 1000px;
}

nav {
    margin-top: 3%;
    margin-right: 5%;
    float: right;
    position: static;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;

}

nav ul li.separador {
    color: white;
    text-align: center;
    padding: .5rem 0.2rem .5rem 0.2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    padding: .5rem 1rem .5rem 1rem;
}

nav ul li a:hover {
    transform: scale(1.1, 1.1);
    font-weight: bold;
}

@font-face {
    font-family: Montserrat-Black;
    src: local("Montserrat-Black"),
        local("Montserrat-Black"),
        url(/src/tipografias/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: local("Montserrat-Bold"),
        local("Montserrat-Bold"),
        url(/src/tipografias/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: local("Montserrat-SemiBold"),
        local("Montserrat-SemiBold"),
        url(/src/tipografias/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: local("Montserrat-Regular"),
        local("Montserrat-Regular"),
        url(/src/tipografias/Montserrat-Regular.ttf);
}


.titulo1 {
    color: #DDA431;
    /* padding: 10px; */
    text-align: center;
    font-size: x-large;
    /* font-weight: 100; */
    /* letter-spacing: 1px; */
    /* font-family: Montserrat-Bold; */
}

.titulo01 h1 {
    font-weight: bold;
    font-family: Montserrat-Bold;
}

.separador1 {
    color: #DDA431;
    background-color: #DDA431;
    max-width: 70px;
    padding: 2px;
    border: none;
    margin-bottom: 10px;
    margin-top: 0;
}

.titulo01 {
    margin: 150px 0 100px 0;
}

/* comienzo que tipo de viaje */

.baners {
    display: flex;
    justify-content: space-around;
    height: 625px;
}

.baners h3 {
    text-align: center;
    font-size: 27px;
    margin-top: 20%;
}

.baners p {
    text-align: center;
    font-size: large;
    padding: 0% 31% 0% 31%;
    color: #F6F4F1;
    line-height: 20px;
}

.baner1 {
    display: inline-block;
    text-align: center;
    max-width: 400px;
    /* height: 625px; */
}

.baner1padre {
    max-width: 280px;
    height: 250px;
    margin: 30px 60px 30px 60px;
}

.baner1hijo {
    width: 100%;
    height: 100%;
}

.baners button {
    text-decoration: none;
    border: none;
    width: 180px;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    font-family: Montserrat-Black;
    margin-top: 6%;
    color: #F6F4F1;
}

.primero {
    background-color: #DDA431;
}

.primero button {
    background-color: #dd3740;
}

.primero h3 {
    color: #dd3740;
}

.segundo {
    background-color: #5e2365;
}

.segundo h3 {
    color: #97BFA7;
}

.segundo button {
    background-color: #97BFA7;
}

.tercero {
    background-color: #97BFA7;
}

.tercero h3 {
    color: #dd3740;
}

.tercero button {
    background-color: #dd3740;
}

/* fin que tipo de viaje  */

/* comienzo banner viajar es vivir  */


.banner02 {
    margin: 200px 0 200px 0;
}

.banner02padre {
    width: auto;
}

.banner02hijo {
    width: 100%;
}

.titulo2 {
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

.titulo02 h2 {
    letter-spacing: 1px;
    font-weight: 400;
    font-family: Montserrat-SemiBold;
}

.separador2 {
    color: black;
    background-color: black;
    max-width: 70px;
    padding: 2px;
    border: none;
    margin-bottom: 150px;
    margin-top: 0;
}

.titulo02 {
    margin: 50px 0 50px 0;
}

/* fin banner viajar es vivir  */

/* desde aca veo lo de planes */

.planes {
    display: flex;
    justify-content: space-around;
    height: 820px;
    margin: 70px 0 70px 0;
}

.plan {
    max-width: 400px;
    background-color: #F6F4F1;
    text-align: center;
}

.plan h3 {
    font-size: 20px;
    margin: 50px 0 25px 0;
    font-weight: 500;
    font-family: Montserrat-SemiBold;
}

.plan .mes {
    font-size: 25px;
    padding: 0%;
    font-family: Montserrat-Regular;
}

.plan p {
    font-size: 20px;
    padding: 2% 20% 5% 20%;
    font-family: Montserrat-Regular;
}

.plan button {
    background-color: initial;
    border: none;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10%;
    font-family: Montserrat-Black;
}

.plan1padre {
    max-width: 400px;
}

.plan1hijo {
    width: 100%;
}

/* fin planes  */

/* comienzo porque viejar con  */

.porqueviajar {
    width: 100%;
    background-color: #97BFA7;
    height: max-content;
    text-align: center;
    color: white;
    margin-top: 250px;
    margin-bottom: 150px;
}

.porqueviajar1 {
    /* display: inline-block; */
    display: flex;
    justify-content: space-around;

}

.porqueviajar h1 {
    padding: 6% 0 4% 0;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Montserrat-Bold;
}

.pqv h3 {
    margin: 20px 0 25px 0;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    /* padding: 0 18% 0 18%; */
    font-family: Montserrat-SemiBold;
    text-align: center;
    /* text-rendering: geometricPrecision; */
    display: inline;

}

.pqv p {
    font-size: 25px;
    padding: 0% 20% 10% 20%;
    font-weight: 200;
    font-family: Montserrat-Regular;
    /* text-rendering: geometricPrecision; */
}

/* fin porque viejar con  */

/* comienzo testimonios  */

.testimonios {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.testimonios h3 {
    margin: 10% 0 0 0;
    font-family: Montserrat-SemiBold;
}

.testimonios p {
    font-size: medium;
    padding: 1% 10% 5% 10%;
    font-family: Montserrat-Regular;

}


.testimonio {
    border: 2px solid black;
    text-align: center;
    max-width: 400px;
}

.testimonio img {
    border-radius: 50%;
    margin: -18% 0 0 0;
}

/* fin testimonios  */

footer {
    background-color: #cccbcb;
    padding: 2rem;
}

.columnas {
    max-width: 1280px;
    margin: 0 auto;
    /* width: 95%; */
    display: flex;
    /* margin: 0; */
}

.col {
    width: 25%;
    padding: 0 1% 0 1%;
    /* margin: 1%; */
    color: whitesmoke;
    text-align: justify;
}



.col h4 {
    text-align: justify;
    margin: 0%;
    font-size: 20px;
}

.col ul {
    margin: 0%;
    padding: 1rem;
}

.col-1 {
    padding-right: 100px;
    color: whitesmoke;
    text-align: justify;
}

.iconos {
    color: black;
    font-size: 20px;
    display: inline-flex;
    /* align-items: center; */
    text-align: center;
    line-height: 45px;
}

.instagram {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-right: 10px;
}

.facebook {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-right: 10px;
}

.imgpiepadre {
    max-width: 300px;
}

.imgpie {
    width: 100%;
    opacity: 1;
}

hr {
    color: whitesmoke;
    background-color: whitesmoke;
    max-width: 1280px;
    padding: 1PX;
    margin: 0 auto;
    border: none;
}

.copyright {
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 17px;
}

footer a {
    font-size: 17px;
}